.c-stats {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: $padding-header;
  padding-left: $padding-nav;
}

.c-stats__item {
  background-color: black;
  width: 374.11px;
  height: 216.31px;
}
