.c-btn-text{
    font-size: 2.4rem;
    color: $color-light-blue;
    };
    
.c-btn-icon{
width: 2.4rem;
height: 2.1rem;
}

.c-seriefilm{
    width: 100%;
overflow: hidden;
}

.c-movie-item{
    display: block;
}

.c-custom-rows{
margin-left:240px;
margin-top: 183px;
}

.c-d{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}