.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.c-mvtop10 {
    margin-top: 23rem;
    width: 100%;
    height: auto;

    &__img {
        width: 30rem;
        height: auto;
    }

    &__h {
        color: $color-white;
        font-size: 2rem;

        &--smal {
            color: rgb(233, 233, 233);
            font-size: 1.6rem;
            height: 3rem;
        }
    }

    &__text {
        color: $color-aside-normal;
        font-size: 1.6rem;
    }

    &__achtergrond {
        background-color: $color-aside;
        padding: 2rem;
    }

    &__button {
        margin-top: 6rem !important;
    }

    &__add--text {
        font-size: 2.4rem;
        color: $color-white;
    }

    &__add--textsm {
        font-size: 1.8rem;
        color: $color-aside-normal;
    }
}

.img-thumbnail {
    padding: 0.25rem;
    border: 0;
    background-color: $color-aside;
    border-radius: 0;
    max-width: 100%;
    height: auto;
}

.c-form__movie--file {
    padding-top: 4% !important;
}

.c-add__new--list {
    margin-top: 3rem;
}

.c-form__select--addmv {
    font-size: 3rem;
    background-color: #0f171e;
    width: 100%;
    height: 6.5rem;
    color: #00ade7;
    border-radius: 0;
    border: 0;
    text-align: center;
}