.c-btn-text{
    font-size: 2.4rem;
    color: $color-light-blue;
    };
    
.c-btn-icon{
width: 2.4rem;
height: 2.1rem;
}

.c-seriefilm{

    &-content{
        max-width: 366px;
        max-height: 200px;

    }
    &-img{
        width: 366px;
        height: 200px;
        border-radius: 6px;
    }
    &-text{
        text-align: center;
    }


}
.c-seriefilm a{
    text-decoration: none;
}