.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.c-mvtop10 {
    margin-top: 23rem;
    width: 100%;
    height: auto;

    &__img {
        width: 30rem;
        height: auto;
    }

    &__h {
        color: $color-white;
        font-size: 2rem;

        &--smal {
            color: rgb(233, 233, 233);
            font-size: 1.6rem;
            min-height: 2rem;
        }
    }

    &__text {
        color: $color-aside-normal;
        font-size: 1.6rem;
    }

    &__achtergrond {
        background-color: $color-aside;
        padding: 2rem;
    }
}

.img-thumbnail {
    padding: 0.25rem;
    border: 0;
    background-color: $color-aside;
    border-radius: 0;
    max-width: 100%;
    height: auto;
}