.c-headnav {
  z-index: 800;
  background-color: $color-aside;
  height: 11.2rem;
  width: calc(100% - 24rem);
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  padding-left: 4rem;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);

  @include media-breakpoint-down(md) {
    width: calc(100%);
    justify-content: space-between;
    padding: 2rem 4rem;
  }

  &__toggle {
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 20;

    @include media-breakpoint-down(md) {
      display: block;
    }

    &:checked ~ .c-headnav__bar--1 {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
    }

    &:checked ~ .c-headnav__bar--2 {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ .c-headnav__bar--3 {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }

    &:checked ~ .c-hamburgernav {
      transform: none;
    }
  }

  &__bar {
    display: none;
    width: 42px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background-color: $color-light-blue;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 5px 0px;
    transition: transform 0.5s ease, background-color 0.5s ease, opacity 0.55s ease;

    @include media-breakpoint-down(md) {
      display: inline;
    }
  }

  &__bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    @include media-breakpoint-down(md) {
      align-items: flex-end;
    }
  }

  h1 {
    @include media-breakpoint-down(lg) {
      font-size: 4.8rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 3.6rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2.4rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.6rem;
    }
  }

  &--logo {
    width: 6rem;
    margin: 0 2rem;

    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }

    @include media-breakpoint-down(sm) {
      width: 5rem;
    }

    @include media-breakpoint-down(xs) {
      width: 4rem;
    }
  }

  &--buttons {
    display: block;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.c-hamburgernav {
  display: none;
  background-color: $color-aside;
  width: 24rem;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin-top: 11.2rem;

  @include media-breakpoint-down(md) {
    display: block;
    transform: translateY(-470rem);
    transition: transform 0.5s ease;
    position: fixed;
  }

  ul {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      padding-left: 24px;
      text-align: left;
      width: 100%;
      display: block;
      background-color: $color-aside-normal;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 5px;
      font-size: 1.8rem;
      font-weight: $font-bold;
      color: $color-white;

      &:hover {
        background-color: $color-bg !important;
        color: $color-aside-normal !important;
        transition: all 0.3s ease;
      }

      &:active {
        background-color: $color-bg !important;
        color: $color-white !important;
        transition: all 0.3s ease;
      }

      a {
        padding-left: 5rem;
      }

      a:hover {
        text-decoration: none;
        color: $color-aside-normal !important;
      }
    }
  }
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#active {
  background-color: $color-bg;
}
