.c-user-popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 62rem;
  left: 26rem;

  width: 80rem;
  height: 42rem;
  background-color: $color-aside;
  border-radius: $border-radius;
  z-index: 4000;

  padding: 4.8rem;

  @include media-breakpoint-down(md) {
    left: 5rem;

    height: 50rem;
  }

  @include media-breakpoint-down(sm) {
    width: 60rem;
    height: 50rem;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }

  &__content {
    height: 100%;
  }

  &__close {
    color: #00a8e1;
    z-index: 11;
    position: relative;
    left: 19rem;
    font-size: 32px;
    top: -5rem;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      top: -7rem;
      left: 12rem;
    }

    @include media-breakpoint-down(xs) {
      left: 12rem;
      top: -16rem;
    }
  }

  &__avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.5rem solid $color-light-blue;
    align-items: center;
  }

  &__name {
    color: $color-light-blue;
    padding-bottom: 2.4rem;
  }

  &__function {
    color: $color-light-blue;
  }

  &__info {
    margin-top: 2.2rem;
    margin-bottom: 2.4rem;
    font-size: 2rem;
  }

  &__element {
    margin-bottom: 0.4rem;
  }

  &__label {
    width: 12rem;
    padding: 0.8rem;
    color: $color-aside;
    background-color: $color-light-blue;
    font-weight: $font-medium;

    @include media-breakpoint-down(md) {
      width: 35rem;
    }

    @include media-breakpoint-down(sm) {
      width: 24.3rem;
    }

    @include media-breakpoint-down(xs) {
      width: 12rem;
    }
  }

  &__input {
    width: 64%;
    border: 0.5rem solid $color-light-blue;
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    font-size: 1.6rem;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    @include media-breakpoint-down(md) {
      width: 104%;
    }

    @include media-breakpoint-down(sm) {
      width: 103%;
    }

    @include media-breakpoint-down(xs) {
      width: 118%;
    }

    &::placeholder {
      color: $color-light-blue;
    }
  }
}
