.c-stats {
  position: relative;
  
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.c-stats__item {
  background-color: black;
  width: 374.11px;
  height: 216.31px;
}
