.c-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 112px 0 0 $padding-nav;
  

  @media (max-width: 992px) {
    width: 100%;
    margin: 0;
    padding: 0;
    

  }

  &__h2 {
    text-align: center;
    margin: 68px 0 58px 0;
  }

  &__container {
    text-align: center;
    width: 1593px;

    @media (max-width: 1860px) and (min-width: 992px) {
      background-color: hotpink;
      width: 95%;
    }
    @media (max-width: 992px) {
      margin: 0;
      padding: 0;
      width: 100%;
      
    }
  }

  &-row {
    background-color: $color-bg;
    &__header {
      background-color: $color-light-blue;
      height: 61px;
      padding: 0;
      margin: 0;
    }
    &__bis {
      background-color: $color-hover-content;
    }
    &__reeks {
      height: 61px;
      padding: 0;
      margin: 0;
    }
  }

  &-th {
    color: $color-white;
    font-size: 2.8rem;
    font-weight: $font-semibold;

    @media (max-width: 1860px) and (min-width: 1090px) {
      font-size: 2rem;
    }
    @media (max-width: 1090px) and (min-width: 992px) {
      font-size: 1.9rem;
    }

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }

  &-td {
    color: $color-white;
    font-size: 2rem;
    font-weight: $font-medium;
    border: 0.2rem solid $color-white;

    @media (max-width: 1860px) and (min-width: 1090px) {
      font-size: 1.6rem;
    }
    @media (max-width: 1090px) and (min-width: 992px) {
      font-size: 1.4rem;
    }

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }
}

main 
{
  overflow-x: hidden;
  overflow-y: hidden;
}
