html {
    font-size: 62.5%;
}

body {
background-color: $color-bg;
}


h1{
    font-size: 6.4rem;
    color: $color-white;
}
h2{
    font-size: 5.6rem;
}
h3{
    font-size: 4rem;
}
header{
    background-color: $color-aside;
    height: 11.2rem;
    width: calc(100% - 24rem);
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top:0;
}


button{
    background-color: $color-aside;
    height: 5.6rem;
    width: 100%;
    border: 1px solid $color-light-blue;
    position: relative;

    &:hover{
        
    }
    &:click{

    }
}

nav{
width: 24rem;
height: 100%;
background-color: $color-aside;
position: fixed;
z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;
padding-top: 20px;
}