$color-bg:#0F171E;
$color-aside:#1A232E;
$color-light-blue:#00A8E1;
$color-white:white;
$color-hover-blue:#79B8F3;
$color-aside-normal:#00ADE7;

$color-hover-content:#4E5B69;


$border-radius: 0.6rem;
$padding-header: calc(11.2rem + 67px);
$padding-nav: 24rem;

$padding-8: 0.8rem;
$padding-16: 1.6rem;

/* look like amazon */
$font-amazon: 'Montserrat', sans-serif;
$font-thin: 100;
$font-ultralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

